/* Write your CSS here */

.team-logo {
  width: 80px;
}

.item-container {
  background-color: #ffffff33;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid white;
  padding: 20px;
  width: 400px;
  border-radius: 16px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.team-name {
  color: white;
  font-size: 25px;
  padding-left: 30px;
}
